<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
    <script src="/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script src="/app/message.controller.js" th:src="@{/app/message.controller.js}"></script>
    <script src="/js/angular-sanitize.js" th:src="@{/js/angular-sanitize.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace = "fragments ::header"></div>
</head>
<body ng-app="app" ng-controller="MessageController">
<div th:replace = "fragments :: navbar"></div>
<div class = "container">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Add Regular Message</a></li>
    <li><a data-toggle="tab" href="#menu2">Add Message with Image</a></li>
</ul>

<div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
        <label for = "message">Add Message</label>
        <input type = "text" name = "message" id = "message"/>
        <br/>
        <button ng-click="add()" type="button">Submit Message without Image</button></div>
    <div id="menu2" class="tab-pane fade">
        <form th:object="${message}" method="POST" action="/upload" enctype="multipart/form-data">
            <label for = "file">Add Image Message</label>
            <input type = "text" name = "content" id = "content" th:field="*{content}"/>
            <input type="file" name="file" id ="file"/>
            <button type="submit">Submit Message with Image</button>

        </form>
    </div>
</div>
</div>


<div ng-repeat="message in messageList">
    <h2>{{message.content}}</h2>
    <p>Submitted by: {{message.username}}</p>
    <p> Date: {{message.date | date:'MM-dd-yyyy HH:mm'}}</p>
    <p ng-bind-html ="message.image"></p>
    <br/>
</div>


</body>
</html>